@page "/"
@inject BellScheduleService service
@if (BellSchedule == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1>DBHS Bell Schedule</h1>
    <p>Local time: @DateTime.Now</p>

    @foreach (var bellSchedule in BellSchedule)
    {
        <h2>@bellSchedule.Title</h2>
        @if (bellSchedule.GetCurrentPeriod(DateTime.Now) >= 0)
        {
            <p>Current : @bellSchedule.Details[bellSchedule.GetCurrentPeriod(DateTime.Now)].Description</p>
        }
        else
        {
            <p>Current : No class</p>
        }

        <table>
            <thead>

            <tr>
                <th>Description / Period</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Length</th>
            </tr>

            </thead>
            <tbody>
            @foreach (var detail in bellSchedule.Details)
            {
                <tr>
                    <td>@detail.Description</td>
                    <td>@detail.StartTime</td>
                    <td>@detail.EndTime</td>
                    <td>@detail.Length</td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    private List<Schedule> BellSchedule;

    protected override async Task OnInitializedAsync()
    {
        BellSchedule = await service.GetBellSchedulesAsync();
    }
}